
.grammarOutlineCreateAreaQuizContainer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.grammarOutlineCreateAreaAddContents{
	display: inline;
    width: auto;
	word-wrap: break-word;
	white-space: normal;
}


.grammarOutlineUl,
.divGrammarOutlineGrammarsUl,
.grammarOutlineRadioContainer.hiddenByGrammarOutlineRadio
{
	display: none;
}

#grammarOutlinePreviewDisplayAreaSection{
	width: 100%;
	height: 60%;
}
#grammarOutlinePreviewDisplayArea{
	width: 100%;
	height: 100%;
	overflow:auto;
}

#grammarOutlinePreviewScreenButtonsContainer,
#wisePanelGrammarInsightsViewButtonsContainer{
	display: flex;
	/* justify-content: center; */
	flex-wrap: wrap;
}
.grammarOutlinePreviewScreenButtonAutoHidden{
	display: none;
}
.grammarOutlinePreviewScreenButtonAutoHidden.visible{
	display: block;
}


.grammarOutline{
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.grammarOutline ul li ul {
	margin-bottom: .75em;
	margin-left: 24px;
}

.grammarOutline ul li ul li {
	margin-bottom: .25em;
	position: relative;
}

.grammarOutline ul li ul li::before {
	content: "";
	position: absolute;
	top: -0.5em;
	left: -16px;
	width: 10px;
	height: calc(100% + .75em);
	border-left: 1px solid #3972b2;
}

.grammarOutline ul li ul li:last-child::before {
	height: calc(1em + .25em);
}

.grammarOutline ul li ul li::after {
	content: "";
	position: absolute;
	top: .75em;
	left: -16px;
	width: 10px;
	border-bottom: 1px solid #3972b2;
}

.grammarOutline ul li{
	list-style-type: none;
}

.divGrammarOutlineContainer{
	position: relative;
	display: flex;
	align-items: center;
}
.divGrammarOutlineContentsContainer{
	display: flex;
	flex-direction: column;
}
.divGrammarOutlineLabelContainer{
	display: flex;
	position: relative;
}

.grammarOutlineLabelButtonOpener{
	color: black;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: black;
}
.grammarOutlineLabelButtonGrammarOutlineUlOpener,
.grammarOutlineLabelButtonGrammarsUlOpener
{
	background: var(--main-color-3);
}
.grammarOutlineLabelButtonOpener.completed{
	color: black;
	background: white;
}
.grammarOutlineLabelButtonGrammarOutlineUlOpener.completed,
.grammarOutlineLabelButtonGrammarsUlOpener.completed
{
	border-color: var(--main-color-3);
}
.grammarOutlineLabelButtonExplanation{
	font-size: var(--main-font-size-1);
	background: white;
    color: var(--main-color-3);
    padding: 3px 6px;
	border-style: none;
    /* border-style: solid;
    border-color: var(--main-color-1); */
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divGrammarOutlineCorner {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-right: 20px solid var(--main-color-3);
	border-bottom: 20px solid transparent;
	opacity: 0.8;
}

.divGrammarOutlineGrammarsLi{
	display: flex;
	vertical-align: top;
	/* margin-left: 35px; */
	align-items: center;
	flex-wrap: wrap;
}
.basicGrammarLi,
.derivedGrammarLi{
	display: flex;
}

.grammarOutlineCheckbox.hiddenByGrammarScope,
.grammarOutlineLabelButton.hiddenByGrammarScope,
.divGrammarOutlineGrammarsLi.hiddenByGrammarScope,
.derivedGrammarsButtonOpener.hiddenByGrammarScope,
.grammarOutlineRadioContainer.hiddenByGrammarScope,
.homeworkHidden
{
	opacity: 0.1;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

.derivedGrammarsButtonOpener{
	display: block;
}
.grammarOutlineUl.completed,
.divGrammarOutlineGrammarsUl.completed
{
	display: block !important;
}
.divGrammarOutlineButtonInput{
	font: var(--main-font-size-1) var(--main-font-family-1);
	cursor: pointer;
	color: black;
	padding: 1px 6px;
	border: none;
	margin: 5px 0 5px 0;
}
.divGrammarOutlineTextContainer{
	display: flex;
	border-width: 2px;
	border-style: outset;
	border-color: black;
}
.divGrammarOutlineText{
	font: var(--main-font-size-1) var(--main-font-family-1);
	cursor: default;
	background-color: white;
	color: black;
	padding: 1px 6px;
	margin: 0;
	white-space: nowrap;
}
.divGrammarOutlineInputLabel{
	font: var(--main-font-size-1) var(--main-font-family-1);
	cursor: default;
	background-color: white;
	color: black;
	padding: 1px 6px;
	margin: 0;
	white-space: nowrap;
}
.divGrammarOutlineInputLabel.search-target,
.divGrammarOutlineText.search-target{
	background-color: var(--main-color-3);
}

.summaryGrammarOutline{
	font-size: 13px;
	color: white;
	background-color: orangered;
	list-style: none;
	border-radius: 4px;
	width:fit-content;
	margin: 2px 0 10px 0;
	padding: 0 10px;
}
/* .divFrameGrammarOutline{
	overflow: auto;
} */
.frameGrammarOutline {
	width: 90%;
	margin: 10px auto;
	padding: 5px 5px;
	border: 3px solid #aaa;
	position: relative;
	overflow: auto;
	border-radius: 3px;
	background-color: white;
	border-color: orangered;
}
