/******************************************************
 *  COMMON
 *
 ******************************************************/
.wisePanelWhiteboardUi {
    position: absolute !important;
    top: 50%;
    z-index: 15;

    width: 50%;
    height: 90%;

    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    transform: translateY(-50%);

    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.wisePanelWhiteboardUiLeft {
    left: 0;
}

.wisePanelWhiteboardUiRight {
    right: 0;
}



/******************************************************
 *  STICKY NOTE
 *
 ******************************************************/

#wisePanelWhiteboardUiCreateStickyNoteInput{
	padding: 10px;
}

#wisePanelWhiteboardUiCreateStickyNoteDrawingColors{
	margin: 20px auto auto 20px;
}

.wisePanelWhiteboardUiCreateStickyNoteButtonSelectColor{
	width: 40px;
	height: 35px;
	display: inline-block;
	margin: 0 5px 0;
	padding: 5px;
	border: solid 1px #ddd;
	border-radius: 5px;
	line-height: 1.0;
	/* cursor: pointer; */
}
.wisePanelWhiteboardUiCreateStickyNoteButtonSelectColor{
	height: 40px;
}


.wisePanelWhiteboardUiCreateStickyNoteButtonSelectColor.SelectColorWhite,
.wisePaletteColorSquare.SelectColorWhite,
.stickyNoteBaseContainerColorWhite
{
	background-color: rgb(245, 245, 245);
}
.wisePanelWhiteboardUiCreateStickyNoteButtonSelectColor.SelectColorRed,
.wisePaletteColorSquare.SelectColorRed,
.stickyNoteBaseContainerColorRed
{
	background-color: rgb(255, 50, 0);
}
.wisePanelWhiteboardUiCreateStickyNoteButtonSelectColor.SelectColorBlue,
.wisePaletteColorSquare.SelectColorBlue,
.stickyNoteBaseContainerColorBlue
{
	background-color: rgb(80, 230, 245);
}
.wisePanelWhiteboardUiCreateStickyNoteButtonSelectColor.SelectColorOrange,
.wisePaletteColorSquare.SelectColorOrange,
.stickyNoteBaseContainerColorOrange
{
	background-color: rgb(245, 155, 0);
}
.wisePanelWhiteboardUiCreateStickyNoteButtonSelectColor.SelectColorGreen,
.wisePaletteColorSquare.SelectColorGreen,
.stickyNoteBaseContainerColorGreen
{
	background-color: rgb(127, 255, 127);
}
.wisePanelWhiteboardUiCreateStickyNoteButtonSelectColor.SelectColorYellow,
.wisePaletteColorSquare.SelectColorYellow,
.stickyNoteBaseContainerColorYellow
{
	background-color: rgb(255, 255, 0);
}


.wisePanelWhiteboardUiWordInformationResultContentsViewExplanation{
	user-select: none !important;
	-moz-user-select: none !important;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
}

.wisePanelWhiteboardUiWordInformationResultHeadline{
	font-size: 18px;
	padding:0 0 0 10px;
	margin:10px 0 0 0;
	border-bottom: 3px solid var(--main-color-1);
}

.wisePanelWhiteboardUiWordInformationResultContentsText{
	padding:10px 10px 0 20px;
	margin: 0 0 30px 0;
}