
.manageRoomModal,
.naviItemsModal{
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 50%;
	background-color: #fff;
	border-left: solid 1px #ddd;
	transition: all 0.5s ease-out;
}

.manageRoomModal,
.naviItemsModal{
	z-index: 9999;
}


#manageLessonContentsBody,
#naviItemsBody
{
	justify-content: center;
}

#lessonContentsContent,
#naviItemsContent
{
	width: 80%;
	height: 80%;
}


#manageRoomModalUiAddContents,
#naviItemsSideMenuAddContents{
	left: -100%;
}

#manageRoomModalUiSelectedContents,
#naviItemsSideMenuSelectedContents{
	right: -100%;
}

#manageRoomModalUiAddContents.manageRoomModal-open,
#naviItemsSideMenuAddContents.naviItemsModal-open{
	left: 0 !important;
}

#manageRoomModalUiSelectedContents.manageRoomModal-open,
#naviItemsSideMenuSelectedContents.naviItemsModal-open{
	right: 0 !important;
}

.manageRoomModalUiTitle,
.naviItemsSideMenuTitle{
	width: 100%;
	justify-content: center;
	align-items: center;
	background: var(--main-color-1);
	text-align: center;
}

.lessonContentsRightModalButtons,
.naviItemsRightModalButtons{
	width: 20%;
	float: right;
}


#wisePanelLessonContentsViewSelectRoomRangeConfirmButton
{
	margin: 0;
}